<li>
	{{burger_name}}

	{{#if devoured}}
	<input type="text" placeholder="Customer?" id="burger{{id}}" required>
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour it!
	</button>

	{{else}}<span class="eatenBy">(eaten by {{Customer.dataValues.name}})</span>

	{{/if}}



</li>